@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global overrides */
html, body {
  font-family: 'Inter', sans-serif;
  background-color: theme('colors.surface'); /* Use our new surface color */
  color: theme('colors.textDefault');
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}
